langchain
ipykernel
python-dotenv
langchain_community
pypdf
pymupdf
langchain-text-splitters
langchain-openai
tavily-python
beautifulsoup4
requests
chromadb
langchain-chroma
streamlit
supabase
streamlit-supabase-auth